@use '../../sass/variables';

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem;
  border-bottom: 2px solid variables.$grey-100;
  height: 5rem;
  letter-spacing: 0.5px;
  position: relative;

  &__hightlight {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.5rem;
  }

  &__description--wrapper {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__value--wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 5px;
  }

  &__value {
    padding: 0.4rem 0.8rem;
    display: block;
    border-radius: 5px;
  }

  &__delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;

    & img {
      width: 1.6rem;
    }
  }
}

.item:last-child {
  border: none;
}

.expense {
  background-color: rgba(variables.$cl-red, 0.8);
}

.income {
  background-color: rgba(variables.$cl-green, 0.8);
}
