// Colors
$cl-yellow: rgb(255, 255, 10);
$cl-green: rgb(141, 209, 0);
$cl-red: rgb(250, 25, 47);
$cl-almostBlack: rgb(16, 16, 16);
$cl-almostWhite: rgb(245, 245, 245);
$cl-blue: rgb(21, 83, 209);

// Grey shades
$grey-100: rgb(161, 161, 161);
$grey-200: rgb(77, 77, 77);

// Font Sizes
$fs-body: 1.6rem;
$fs-h1: 4.8rem;
$fs-h2: 4rem;
$fs-h3: 3.2rem;
$fs-h4: 2rem;
