@use '../../sass/variables';

.input {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;

  &__error_msg {
    position: absolute;
    font-size: 1.2rem;
    bottom: -1.8rem;
    left: 1.4rem;
    color: variables.$cl-red;
  }

  .input_field {
    height: 5rem;
    width: 100%;
    padding: 0 1.2rem;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    color: variables.$cl-almostBlack;
    border: 2px solid variables.$grey-100;
    border-radius: 10px;
    letter-spacing: 0.5px;

    &::placeholder {
      color: variables.$grey-200;
      opacity: 1;
      letter-spacing: 0.5px;
    }
  }

  &__selector {
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    color: variables.$grey-200;
    appearance: none;
    max-width: 22.5rem;
    width: 100%;
    height: 5rem;
    padding: 0 1.2rem;
    border: 2px solid variables.$grey-100;
    border-radius: 10px;
    letter-spacing: 0.5px;
    cursor: pointer;

    & option {
      background-color: variables.$cl-almostWhite;
      letter-spacing: 0.5px;
    }
  }

  &__add-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__amount {
    flex-basis: 60%;
  }

  &__add-btn {
    height: 5rem;
    flex-basis: 30%;
    border: none;
    border-radius: 10px;
    background-color: variables.$cl-blue;
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    letter-spacing: 0.5px;
    color: variables.$cl-almostWhite;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background-color: rgb(47, 102, 211);
    }
  }
}
