.main {
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
}

.balance_values {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.4rem;
  gap: 2.4rem;
}

.user_interactions_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
